### 개인 실습 
    - R프로그래밍에서 사용한 서울 먹거리 데이터 csv를 가져와 실습 진행

### 패키지 설치

In [4]:
import pandas as pd

### 데이터 불러오기

In [21]:
df = pd.read_csv(r"C:\Users\user\Desktop\2020년\4학년 1학기\비즈니스 애널리틱스\github\Hw4\2019_SEP_seoul_food.csv", encoding = 'utf-8-sig', engine='python')

AttributeError: 'DataFrame' object has no attribute 'type'

### 데이터 확인

In [20]:
df.head()

         일자 요일  시간대           업종     시도  시군구    읍면동  통화건수
0  20190901  일    0  음식점-족발/보쌈전문  서울특별시  성동구  성수동2가     5
1  20190901  일    0  음식점-족발/보쌈전문  서울특별시  성북구  동선동2가     5
2  20190901  일    0  음식점-족발/보쌈전문  서울특별시  종로구    연지동     5
3  20190901  일    0  음식점-족발/보쌈전문  서울특별시  구로구    개봉동     5
4  20190901  일    0  음식점-족발/보쌈전문  서울특별시   중구    신당동     5

### 인덱싱 연습

In [24]:
df['시군구'].head()

0    성동구
1    성북구
2    종로구
3    구로구
4     중구
Name: 시군구, dtype: object

In [28]:
df[['시군구', '읍면동']].tail()

        시군구     읍면동
90063   서초구     양재동
90064   성북구   동선동2가
90065   송파구     가락동
90066  영등포구  영등포동5가
90067   중랑구     면목동

In [29]:
print(df.iloc[3])
print(df.loc[1])

일자         20190901
요일                일
시간대               0
업종      음식점-족발/보쌈전문
시도            서울특별시
시군구             구로구
읍면동             개봉동
통화건수              5
Name: 3, dtype: object
일자         20190901
요일                일
시간대               0
업종      음식점-족발/보쌈전문
시도            서울특별시
시군구             성북구
읍면동           동선동2가
통화건수              5
Name: 1, dtype: object

In [30]:
df['통화건수'].sum()

844351

In [38]:
df.loc[:,['통화건수']].groupby(df['시군구']).sum()

       통화건수
시군구
강남구   75449
강동구   39527
강북구   40817
강서구   70380
관악구   52128
광진구    6049
구로구   34735
금천구   13072
노원구   42531
도봉구    3639
동대문구  35583
동작구    7089
마포구   24753
서대문구  47297
서초구   52311
성동구   45112
성북구   22891
송파구   43297
양천구   10166
영등포구  32750
용산구   22991
은평구   25996
종로구   21016
중구    52487
중랑구   22285

In [43]:
df.loc[:,['통화건수']].groupby(df['요일']).sum()

      통화건수
요일
금   107750
목   101856
수   110564
월   114399
일   169227
토   138656
화   101899

In [47]:
df[(df['시군구'] == '강남구') & (df['요일'] == '월')].head()

            일자 요일  시간대           업종     시도  시군구   읍면동  통화건수
3216  20190902  월    0  음식점-족발/보쌈전문  서울특별시  강남구   가산동     5
3217  20190902  월    0  음식점-족발/보쌈전문  서울특별시  강남구   대현동     6
3218  20190902  월    0  음식점-족발/보쌈전문  서울특별시  강남구   신당동     5
3219  20190902  월    0     음식점-중국음식  서울특별시  강남구  내발산동     5
3220  20190902  월    0     음식점-중국음식  서울특별시  강남구   삼성동     5

In [48]:
df['업종'].value_counts()

음식점-중국음식       28614
치킨             28038
피자             20079
음식점-족발/보쌈전문    13337
Name: 업종, dtype: int64

In [49]:
df.loc[:,['통화건수']].groupby(df['업종']).sum()

               통화건수
업종
음식점-족발/보쌈전문   72289
음식점-중국음식     325203
치킨           303976
피자           142883